<div class="container-fluid">
  <div class="row">
    <a class="btn btn-secondary" style="background-color: #343a40; color: #f2f4f7" style="margin-left: 15px" href="/Restaurants/new">新增餐廳
      +</a>
    <select class="mdb-select md-form" name="form" style="background-color: #343a40; color: #f2f4f7" onchange="location = this.value;">
      <option value="" disabled selected>選擇排序</option>
      <option value="/sort/atoz">A-Z</option>
      <option value="/sort/ztoa">Z-A</option>
      <option value="/sort/location">地區</option>
      <option value="/sort/category">分類</option>
    </select>
  </div>
  <hr>
  <div class="row">
    {{#each data}}
    <!--餐廳列表-->
    <div class="card bg-light mb-3" style="max-width: 14rem;">
      <div>
        <form action="/Restaurants/{{this._id}}/delete?_method=DELETE" method="POST">
          <button type="submit" class="cross">✗</button>
          <a href="/Restaurants/{{this.id}}">
            <img class="card-img-top" style="height: 10rem;" src="{{this.image}}" alt="{{this.name}}">
          </a>
        </form>
      </div>
      <div class="card-header">{{this.name}}</div>
      <div class="card-body">
        <h6 class="card-title">{{this.category}}
          <span class="block"><i class="fas fa-star fa-xs"></i> {{this.rating}}</span>
          <a href="/Restaurants/{{this.id}}/edit" class="block">修改</a>
        </h6>
      </div>
    </div>
    {{/each}}
  </div>
</div>

</div>
</div>